@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:  'Edu SA Beginner', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  font-family: 'Lumanosimo', cursive;
}

* {
  flex-shrink: 0;
  -webkit-touch-callout: none; /* Disable callouts on iOS */
  -webkit-user-select: none; /* Disable selection on WebKit */
  -khtml-user-select: none; /* Disable selection on Konqueror HTML */
  -moz-user-select: none; /* Disable selection on Mozilla Firefox */
  -ms-user-select: none; /* Disable selection on Internet Explorer/Edge */
  user-select: none; /* Disable selection on other browsers */
}
